certifi
cffi
charset-normalizer
click
cryptography
editdistance
idna
iniconfig
joblib
Levenshtein
numpy
packaging
pandas
pdfminer.six
pdfplumber
pillow
pluggy
pycparser
pypdfium2
pytest
python-dateutil
python-Levenshtein
pytz
ranking-metrics
rapidfuzz
requests
scikit-learn
scipy
setuptools
six
threadpoolctl
tzdata
urllib3
pre-commit
types-requests
